/*Celulares pequeños*/

/* Estilos para pantallas pequeñas (menos de 600px) */
@media only screen and (max-width: 600px) {
 body {
 font-size: 9px;
 }

 #logo{
    height: 1em;
}

.menu{
    top: 5%;
}

/*main*/

.main-sections {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto; 
}

#img-libros{
    height: 20em;
    padding:2em;
    padding-top:0;
    float: left;
}

#img-han-kang{
    height: 8em;
}

/*seccion lecturas recomendadas*/

.img-lecturas{
    height: 10em;
    float: left;
    padding: 1em;
}

.fila-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

/*contacto*/

textarea{
    width: 75vw;
}

}

/*pantallas medianas*/

@media only screen and (max-width: 1024px) {

 #logo{
    height: 1.4em;
}

.menu{
    top: 20%;
}

/*main*/

#img-libros{
    height: 25em;
    padding:2em;
    padding-top:0;
    float: left;
}

#img-han-kang{
    height: 11em;
}

/*reseñas*/
.main-sections {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto; 
}

/*seccion lecturas recomendadas*/

.img-lecturas{
    height: 10em;
}  

.fila-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

/*contacto*/

textarea{
    width: 75vw;
}

}

